<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <title>Foundation Docs: Panels</title>
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/docs.css" />
    <script src="/assets/vendor/custom.modernizr.js"></script>
  </head>
  <body class="antialiased">

    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">Foundation</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="/grid.php">Features</a></li>
          <li class="divider"></li>
          <li><a href="/templates.php">Add-ons</a></li>
          <li class="divider"></li>
          <li><a href="/case-jacquelinewest.php">Case Studies</a></li>
          <li class="divider"></li>
          <li><a href="/docs/">Docs</a></li>
          <li class="divider"></li>
          <li><a href="/training.php">Training</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">Getting Started</a>
          </li>
        </ul>
      </section>
    </nav>

    
    <div class="row">
      <div class="large-12 columns">
        <h1 class="docs header"><a href="http://foundation.zurb.com/docs/">Foundation 4 Documentation</a></h1>
        <h6 class="docs subheader"><a href="http://foundation.zurb.com/old-docs/f3">Want F3 Docs?</a></h6>
        <hr>
      </div>
    </div>

    
<div class="row">
  <div class="large-9 push-3 columns">

    
    <div class="row">
      <div class="large-12 columns">
        <h2>Panels</h2>
        <h4 class="subheader">A panel is a simple, helpful Foundation component that enables you to outline sections of your page easily. This allows you to view your page sections as you add content to them or add emphasis to a section. The width is controlled by the grid columns you put them inside.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="row">
          <div class="large-6 columns">
            <div class="panel">
              <h5>This is a regular panel.</h5>
              <p>It has an easy to override visual style, and is appropriately subdued.</p>
            </div>
          </div>
          <div class="large-6 columns">
            <div class="panel callout radius">
              <h5>This is a callout panel.</h5>
              <p>It's a little ostentatious, but useful for important content.</p>
            </div>
          </div>
        </div>

        <hr>

        <h3>Build With Predefined HTML Classes</h3>
        <p>There are two ways to build panels in Foundation 4, either with our predefined HTML or with our mixin. Building panels using our predefined class isn't hard at all. You'll start with <code>&lt;div&gt;</code> and add a class of <code>.panel</code> to it. From there, you just need to add content inside, anything will do.</p>

        <p>Available HTML class options:</p>
        <ul class="disc">
          <li>Adding <code>.callout</code> to your panel will make it our default blue and add a shiny top edge to help it stand out.</li>
          <li>You may also you <code>.radius</code> to add a tasteful border-radius to the mix.</li>
        </ul>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">panel</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  <span class="comment">&lt;!-- Content here --&gt;</span>
<span class="tag">&lt;/div&gt;</span></pre></div>
</div>
</div>

        <div class="panel">Basic panel with content.</div>

        <p>For these styles to come across, make sure you have the default Foundation CSS package or that you've selected panels from a custom package. These should be linked up following our default <a href="../index.html">HTML page structure</a>.</p>

        <hr>

        <h3>Build with a Mixin</h3>
        <p>We've included SCSS mixins used to style panels so that you can code smarter. To use the mixin, you'll need to have the <a href="../sass.html">extension installed</a> or grab <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/_variables.scss">_variables.scss</a>, <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_global.scss">_global.scss</a> and <a href="https://github.com/zurb/foundation/blob/master/scss/foundation/components/_panels.scss">_panels.scss</a> from Github and throw them into a Foundation folder in your project directory. From there, you can import the files at the top of your own SCSS stylesheet, like so:</p>

<div class='css'><div class="CodeRay">
  <div class="code"><pre>
<span class="directive">@import</span> <span class="string"><span class="delimiter">&quot;</span><span class="content">foundation/variables</span><span class="delimiter">&quot;</span></span>, <span class="string"><span class="delimiter">&quot;</span><span class="content">foundation/components/global</span><span class="delimiter">&quot;</span></span>, <span class="string"><span class="delimiter">&quot;</span><span class="content">foundation/components/panels</span><span class="delimiter">&quot;</span></span>;
</pre></div>
</div>
</div>

        <p>If you are using the mixins, you may include the styles on whatever class or ID you'd like to the <code>&lt;div&gt;</code>.</p>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;div</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">your-class-name</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  <span class="comment">&lt;!-- Content here --&gt;</span>
<span class="tag">&lt;/div&gt;</span></pre></div>
</div>
</div>

        <h5>Quick Mixin</h5>
        <p>You can build your panel using our global mixin by including it on your own custom class or ID. The mixin contains all the necessary styles and they can be customized a bit within the mixin. The rest of the important styles are controlled by variables. The code looks like this:</p>

<div class='css'><div class="CodeRay">
  <div class="code"><pre>
<span class="class">.your-class-name</span> { <span class="directive">@include</span> <span class="key">panel</span>; }</pre></div>
</div>
</div>

        <div class="panel">
          Panel content goes here...
        </div>

        <p>You also have <strong>three options</strong> available to customize the panel within the mixin. These control the background color (which also effect border and font color) and the interior padding of the panel itself.</p>

<div class='css'><div class="CodeRay">
  <div class="code"><pre>
<span class="class">.your-class-name</span> { <span class="directive">@include</span> <span class="error">p</span><span class="error">a</span><span class="error">n</span><span class="error">e</span><span class="error">l</span>(<span class="error">$</span><span class="key">bg</span>, <span class="error">$</span><span class="key">padding</span>, <span class="error">$</span><span class="key">adjust</span>); }

<span class="comment">/* This controls the background color, border color and type color based on brightness of the bg. */</span>
<span class="error">$</span><span class="type">bg</span>: <span class="error">$</span><span class="type">secondary-color</span>

<span class="comment">/* This controls the interior padding */</span>
<span class="error">$</span><span class="type">padding</span>: <span class="error">$</span><span class="type">panel-padding</span>

<span class="comment">/* Control whether panel mixin adjusts header styles */</span>
<span class="error">$</span><span class="type">adjust</span>: <span class="type">true</span>
</pre></div>
</div>
</div>

        <div class="panel-custom">
          Custom panel. Hell yeah! We used @include panel(pink, 40px);
        </div>

        <h5>Default SCSS Variables</h5>

<div class='css'><div class="CodeRay">
  <div class="code"><pre>
<span class="comment">/* We use these to control the background and border styles */</span>
<span class="error">$</span><span class="type">panel-bg</span>: <span class="error">d</span><span class="error">a</span><span class="error">r</span><span class="error">k</span><span class="error">e</span><span class="error">n</span>(<span class="constant">#fff</span>, <span class="float">5%</span>);
<span class="error">$</span><span class="type">panel-border-style</span>: <span class="type">solid</span>;
<span class="error">$</span><span class="type">panel-border-size</span>: <span class="float">1px</span>;

<span class="comment">/* We use this % to control how much we darken things on hover */</span>
<span class="error">$</span><span class="type">panel-function-factor</span>: <span class="float">10%</span>;
<span class="error">$</span><span class="type">panel-border-color</span>: <span class="error">d</span><span class="error">a</span><span class="error">r</span><span class="error">k</span><span class="error">e</span><span class="error">n</span>(<span class="error">$</span><span class="type">panel-bg</span>, <span class="error">$</span><span class="type">panel-function-factor</span>);

<span class="comment">/* We use these to set default inner padding and bottom margin */</span>
<span class="error">$</span><span class="type">panel-margin-bottom</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>);
<span class="error">$</span><span class="type">panel-padding</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>);

<span class="comment">/* We use these to set default font colors */</span>
<span class="error">$</span><span class="type">panel-font-color</span>: <span class="constant">#333</span>;
<span class="error">$</span><span class="type">panel-font-color-alt</span>: <span class="constant">#fff</span>;</pre></div>
</div>
</div>

        <p><strong>Note:</strong> <code>emCalc();</code> is a function we wrote to convert <code>px</code> to <code>em</code>. It is included in <strong>_variables.scss</strong>.</p>


      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <div class="docs section-container accordion" data-section data-options="one_up: false">
  <section class="section ">
    <p class="title"><a href="#">Using Foundation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="../">Get Started</a></li>
        <li><a href="../javascript.html">Javascript</a></li>
        <li><a href="../sass.html">Sass</a></li>
        <li><a href="../rails.html">Rails</a></li>
        <li><a href="../media-queries.html">Media Queries</a></li>
        <li><a class="" href="visibility.html">Visibility Classes</a></li>
        <li><a href="../rtl.html">Right-to-Left Support</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Grid</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="grid.html">Grid</a></li>
        <li><a class="" href="block-grid.html">Block Grid</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Navigation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="pagination.html">Pagination</a></li>
        <li><a class="" href="side-nav.html">Side Nav</a></li>
        <li><a class="" href="sub-nav.html">Sub Nav</a></li>
        <li><a class="" href="top-bar.html">Top Bar</a></li>
        <li><a class="" href="breadcrumbs.html">Breadcrumbs</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Buttons</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="buttons.html">Buttons</a></li>
        <li><a class="" href="button-groups.html">Button Groups</a></li>
        <li><a class="" href="dropdown-buttons.html">Dropdown Buttons</a></li>
        <li><a class="" href="split-buttons.html">Split Buttons</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Forms</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="forms.html">Forms</a></li>
        <li><a class="" href="custom-forms.html">Custom Forms</a></li>
        <li><a class="" href="switch.html">Switch</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Typography</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="type.html">Type</a></li>
        <li><a class="" href="inline-lists.html">Inline Lists</a></li>
        <li><a class="" href="labels.html">Labels</a></li>
        <li><a class="" href="keystrokes.html">Keystrokes</a></li>
      </ul>
    </div>
  </section>
  <section class="section active">
    <p class="title"><a href="#">CSS Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="global.html">Global Styles</a></li>
        <li><a class="" href="alert-boxes.html">Alert Boxes</a></li>
        <li><a class="active" href="panels.html">Panels</a></li>
        <li><a class="" href="pricing-tables.html">Pricing Tables</a></li>
        <li><a class="" href="progress-bars.html">Progress Bars</a></li>
        <li><a class="" href="tables.html">Tables</a></li>
        <li><a class="" href="thumbnails.html">Thumbnails</a></li>
        <li><a class="" href="flex-video.html">Flex Video</a></li>
        <li class="divider"></li>
        <li><a target="_blank" style="font-style: italic" class="" href="kitchen-sink.html">Kitchen Sink</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Javascript</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="clearing.html">Clearing</a></li>
        <li><a class="" href="dropdown.html">Dropdown</a></li>
        <li><a class="" href="interchange.html">Interchange</a></li>
        <li><a class="" href="joyride.html">Joyride</a></li>
        <li><a class="" href="magellan.html">Magellan</a></li>
        <li><a class="" href="orbit.html">Orbit</a></li>
        <li><a class="" href="reveal.html">Reveal</a></li>
        <li><a class="" href="section.html">Section</a></li>
        <li><a class="" href="tooltips.html">Tooltips</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="../faq.html">FAQ</a></p>
  </section>
  <section class="section ">
    <p class="title"><a href="../support.html">Support</a></p>
  </section>
</div>

<p><a href="http://foundation.zurb.com/download.php" class="button expand" style="margin-bottom: 0;">Download Foundation 4</a></p>

<div class="jobs hide-for-small">
  <h5>Awesome product jobs:</h5>
  <div id="zurbJobsWidget"></div>
  <a id="via" href="http://zurbjobs.com">via&nbsp;<span class="jobs-link">ZURBjobs</span></a>
</div>

  </div>
</div>


    <footer class="row full-width">
      <div class="large-5 columns">
        <h6><strong>Made by ZURB</strong></h6>
        <p>Foundation is made by <a href="http://www.zurb.com/">ZURB</a>, a product design company in Campbell, California. We've put more than 14 years of experience building web products, services and websites into this framework. <a href="http://foundation.zurb.com/about.php">Foundation Info and Goodies &rarr;</a></p>
      </div>

      <div class="large-3 columns">
        <h6><strong>Using Foundation?</strong></h6>
        <p>Let us know how you're using Foundation and we might feature you as an example! <a href="mailto:foundation@zurb.com?subject=I'm%20using%20Foundation">Get in touch &rarr;</a></p>
      </div>

      <div class="large-4 columns">
        <h6><strong>Need some help?</strong></h6>
        <p>For answers or help visit the <a href="http://foundation.zurb.com/docs/support.html">Support page</a>.</p>
      </div>
    </footer>

    <div id="copyright">
      <div class="row full-width">
        <div class="large-4 columns">
          <p>Site content &copy; 2013 ZURB, inc.</p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li><a href="http://foundation.zurb.com">Home</a></li>
            <li><a href="http://foundation.zurb.com/download.php">Download</a></li>
            <li><a href="http://foundation.zurb.com/docs">Docs</a></li>
            <li><a href="http://foundation.zurb.com/docs/changelog.html">Changelog</a></li>
            <li><a href="http://foundation.zurb.com/about.php">About</a></li>
            <li><a href="http://feeds.feedburner.com/zurb/blog">Subscribe to the ZURBlog</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script>

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(
        ['_setAccount', 'UA-2195009-2'],
        ['_trackPageview'],
        ['b._setAccount', 'UA-2195009-27'],
        ['b._trackPageview']
      );

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      document.write('<script src="/assets/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
    </script>
    <script src="/assets/docs.js"></script>
    <script>
      $(document)
      
        .foundation();
      

      $.ajax({
        url: '//zurb.com/jobs/widgets/jobs.json?limit=3',
        dataType: 'jsonp',
        success: function(data) {
          var list = $("<ul></ul>");
          $.each(data.jobs, function(idx, job) {
            var item = "<li><a href='"+job.url+"' target='_blank'>" +
              "<span class='positionTitle'>"+job.title+"</span>" +
              "<span class='location'><span class='companyName'>"+job.company_name+"</span> in "+job.location+"</span>" +
              "</a>" +
              "</li>";
            list.append(item);
          });
            // Customize This
          $("#zurbJobsWidget").html(list);
        }
      });

      // For Kitchen Sink Page
      $('#start-jr').on('click', function() {
        $(document).foundation('joyride','start');
      });
    </script>
  </body>
</html>
