<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicons/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicons/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicons/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <title>Foundation Docs: Typography</title>
    <link rel="stylesheet" href="/assets/normalize.css" />
    <link rel="stylesheet" href="/assets/docs.css" />
    <script src="/assets/vendor/custom.modernizr.js"></script>
  </head>
  <body class="antialiased">

    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">Foundation</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="/grid.php">Features</a></li>
          <li class="divider"></li>
          <li><a href="/templates.php">Add-ons</a></li>
          <li class="divider"></li>
          <li><a href="/case-jacquelinewest.php">Case Studies</a></li>
          <li class="divider"></li>
          <li><a href="/docs/">Docs</a></li>
          <li class="divider"></li>
          <li><a href="/training.php">Training</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">Getting Started</a>
          </li>
        </ul>
      </section>
    </nav>

    
    <div class="row">
      <div class="large-12 columns">
        <h1 class="docs header"><a href="http://foundation.zurb.com/docs/">Foundation 4 Documentation</a></h1>
        <h6 class="docs subheader"><a href="http://foundation.zurb.com/old-docs/f3">Want F3 Docs?</a></h6>
        <hr>
      </div>
    </div>

    <div class="row">
  <div class="large-9 push-3 columns">

    
    <div class="row">
      <div class="large-12 columns">
        <h2>Typography</h2>
        <h4 class="subheader">Foundation 4 typography is built with ems, making it easier to fine-tune your type across different breakpoints. By default, we include a single breakpoint in typography sizes and styles, but you can add more if you'd like.</h4>

        <p>We're no longer depending on modular scale in the core of Foundation. We made an effort with this release to be dependancy free other than Sass. This way people can use whatever framework and gems they want on top of Foundation. We'll still use <a href="http://compass-style.org">Compass</a>.</p>

        <hr>

      </div>
    </div>


    <div class="row">
      <div class="large-12 columns">

        <h1>h1. This is a very large header.</h1>
        <h2>h2. This is a large header.</h2>
        <h3>h3. This is a medium header.</h3>
        <h4>h4. This is a moderate header.</h4>
        <h5>h5. This is a small header.</h5>
        <h6>h6. This is a tiny header.</h6>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;h1&gt;</span>h1. This is a very large header.<span class="tag">&lt;/h1&gt;</span>
<span class="tag">&lt;h2&gt;</span>h2. This is a large header.<span class="tag">&lt;/h2&gt;</span>
<span class="tag">&lt;h3&gt;</span>h3. This is a medium header.<span class="tag">&lt;/h3&gt;</span>
<span class="tag">&lt;h4&gt;</span>h4. This is a moderate header.<span class="tag">&lt;/h4&gt;</span>
<span class="tag">&lt;h5&gt;</span>h5. This is a small header.<span class="tag">&lt;/h5&gt;</span>
<span class="tag">&lt;h6&gt;</span>h6. This is a tiny header.<span class="tag">&lt;/h6&gt;</span>
</pre></div>
</div>
</div>

        <hr>

        <h1 class="subheader">h1.subheader</h1>
        <h2 class="subheader">h2.subheader</h2>
        <h3 class="subheader">h3.subheader</h3>
        <h4 class="subheader">h4.subheader</h4>
        <h5 class="subheader">h5.subheader</h5>
        <h6 class="subheader">h6.subheader</h6>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;h1</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">subheader</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>h1.subheader<span class="tag">&lt;/h1&gt;</span>
<span class="tag">&lt;h2</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">subheader</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>h2.subheader<span class="tag">&lt;/h2&gt;</span>
<span class="tag">&lt;h3</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">subheader</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>h3.subheader<span class="tag">&lt;/h3&gt;</span>
<span class="tag">&lt;h4</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">subheader</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>h4.subheader<span class="tag">&lt;/h4&gt;</span>
<span class="tag">&lt;h5</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">subheader</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>h5.subheader<span class="tag">&lt;/h5&gt;</span>
<span class="tag">&lt;h6</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">subheader</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>h6.subheader<span class="tag">&lt;/h6&gt;</span>
</pre></div>
</div>
</div>

        <hr>

        <h1>h1. <small>Small segment header.</small></h1>
        <h2>h2. <small>Small segment header.</small></h2>
        <h3>h3. <small>Small segment header.</small></h3>
        <h4>h4. <small>Small segment header.</small></h4>
        <h5>h5. <small>Small segment header.</small></h5>
        <h6>h6. <small>Small segment header.</small></h6>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;h1&gt;</span>h1. <span class="tag">&lt;small&gt;</span>Small segment header.<span class="tag">&lt;/small&gt;</span><span class="tag">&lt;/h1&gt;</span>
<span class="tag">&lt;h2&gt;</span>h2. <span class="tag">&lt;small&gt;</span>Small segment header.<span class="tag">&lt;/small&gt;</span><span class="tag">&lt;/h2&gt;</span>
<span class="tag">&lt;h3&gt;</span>h3. <span class="tag">&lt;small&gt;</span>Small segment header.<span class="tag">&lt;/small&gt;</span><span class="tag">&lt;/h3&gt;</span>
<span class="tag">&lt;h4&gt;</span>h4. <span class="tag">&lt;small&gt;</span>Small segment header.<span class="tag">&lt;/small&gt;</span><span class="tag">&lt;/h4&gt;</span>
<span class="tag">&lt;h5&gt;</span>h5. <span class="tag">&lt;small&gt;</span>Small segment header.<span class="tag">&lt;/small&gt;</span><span class="tag">&lt;/h5&gt;</span>
<span class="tag">&lt;h6&gt;</span>h6. <span class="tag">&lt;small&gt;</span>Small segment header.<span class="tag">&lt;/small&gt;</span><span class="tag">&lt;/h6&gt;</span>
</pre></div>
</div>
</div>


        <hr>

        <p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap <code>&lt;strong&gt;</code> around type to <strong>make it bold!</strong>. You can also you <code>&lt;em&gt;</code> to <em>italicize your words</em>.</p>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;p&gt;</span>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap <span class="tag">&lt;strong&gt;</span> around type to <span class="tag">&lt;strong&gt;</span>make it bold!<span class="tag">&lt;/strong&gt;</span>. You can also you <span class="tag">&lt;em&gt;</span> to <span class="tag">&lt;em&gt;</span>italicize your words<span class="tag">&lt;/em&gt;</span>.<span class="tag">&lt;/p&gt;</span>
</pre></div>
</div>
</div>

        <hr>

        <h3>Links</h3>
        <p>Links are very standard, and the <a href="http://www.youtube.com/watch?v=oHg5SJYRHA0">color is preset</a> to the Foundation primary color.</p>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;p&gt;</span>Links are very standard, and the <span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">#</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>color is preset<span class="tag">&lt;/a&gt;</span> to the Foundation primary color.<span class="tag">&lt;/p&gt;</span>
</pre></div>
</div>
</div>

        <hr>

        <h3>Lists</h3>
        <p>Lists are helpful for, well, lists of things.</p>

        <div class="row">
          <div class="large-4 columns">
            <h6>ul.disc</h6>
            <ul class="disc">
              <li>List item with a much longer description or more content.</li>
              <li>List item</li>
              <li>List item
                <ul>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                </ul>
              </li>
              <li>List item</li>
              <li>List item</li>
              <li>List item</li>
            </ul>
          </div>

          <div class="large-4 columns">
            <h6>ul.circle</h6>
            <ul class="circle">
              <li>List item with a much longer description or more content.</li>
              <li>List item</li>
              <li>List item
                <ul>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                </ul>
              </li>
              <li>List item</li>
              <li>List item</li>
              <li>List item</li>
            </ul>
          </div>

          <div class="large-4 columns">
            <h6>ul.square</h6>
            <ul class="square">
              <li>List item with a much longer description or more content.</li>
              <li>List item</li>
              <li>List item
                <ul>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                </ul>
              </li>
              <li>List item</li>
              <li>List item</li>
              <li>List item</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <h6>ul.no-bullet</h6>
            <ul class="no-bullet">
              <li>List item with a much longer description or more content.</li>
              <li>List item</li>
              <li>List item
                <ul>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                </ul>
              </li>
              <li>List item</li>
            </ul>
          </div>
          <div class="large-4 columns">
            <h6>Ordered Lists</h6>
            <ol>
              <li>List Item 1</li>
              <li>List Item 2
                <ol>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                  <li>Nested List Item</li>
                </ol>
              </li>
              <li>List Item 3</li>
            </ol>
          </div>
          <div class="large-4 columns">
            <h6>Definition Lists</h6>
            <dl>
              <dt>Definition Title</dt>
              <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
            </dl>
          </div>
        </div>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="comment">&lt;!-- Use .circle or .square to change the style of the bullets --&gt;</span>
<span class="tag">&lt;ul</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">disc</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item with a much longer description or more content.<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item
    <span class="tag">&lt;ul&gt;</span>
      <span class="tag">&lt;li&gt;</span>Nested List Item<span class="tag">&lt;/li&gt;</span>
      <span class="tag">&lt;li&gt;</span>Nested List Item<span class="tag">&lt;/li&gt;</span>
      <span class="tag">&lt;li&gt;</span>Nested List Item<span class="tag">&lt;/li&gt;</span>
    <span class="tag">&lt;/ul&gt;</span>
  <span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item<span class="tag">&lt;/li&gt;</span>
<span class="tag">&lt;/ul&gt;</span>

<span class="comment">&lt;!-- Sometimes you don't want bullets at all --&gt;</span>
<span class="tag">&lt;ul</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">no-bullet</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item with a much longer description or more content.<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item
    <span class="tag">&lt;ul&gt;</span>
      <span class="tag">&lt;li&gt;</span>Nested List Item<span class="tag">&lt;/li&gt;</span>
      <span class="tag">&lt;li&gt;</span>Nested List Item<span class="tag">&lt;/li&gt;</span>
      <span class="tag">&lt;li&gt;</span>Nested List Item<span class="tag">&lt;/li&gt;</span>
    <span class="tag">&lt;/ul&gt;</span>
  <span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List item<span class="tag">&lt;/li&gt;</span>
<span class="tag">&lt;/ul&gt;</span>

<span class="comment">&lt;!-- Ordered lists are great for lists that need order, duh --&gt;</span>
<span class="tag">&lt;ol&gt;</span>
  <span class="tag">&lt;li&gt;</span>List Item 1<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List Item 2<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span>List Item 3<span class="tag">&lt;/li&gt;</span>
<span class="tag">&lt;/ol&gt;</span>

<span class="comment">&lt;!-- Definition lists are great for small block of copy that describe the header --&gt;</span>
<span class="tag">&lt;dl&gt;</span>
  <span class="tag">&lt;dt&gt;</span>Definition List<span class="tag">&lt;/dt&gt;</span>
  <span class="tag">&lt;dd&gt;</span>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.<span class="tag">&lt;/dd&gt;</span>
<span class="tag">&lt;/dl&gt;</span>
</pre></div>
</div>
</div>

        <hr>

        <a name="blockquotes"></a>
        <h3>Blockquotes</h3>
        <p>Sometimes other people say smart things, and you may want to mention that through a blockquote callout. We've got you covered.</p>

        <blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;blockquote&gt;</span>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<span class="tag">&lt;cite&gt;</span>Isaac Asimov<span class="tag">&lt;/cite&gt;</span><span class="tag">&lt;/blockquote&gt;</span>
</pre></div>
</div>
</div>

        <hr>

        <h3>V-Cards</h3>
        <p>Here's a handy microformat-friendly list to <em>address</em> all your needs.</p>

        <ul class="vcard">
          <li class="fn">Gaius Baltar</li>
          <li class="street-address">123 Colonial Ave.</li>
          <li class="locality">Caprica City</li>
          <li><span class="state">Caprica</span>, <span class="zip">12345</span></li>
          <li class="email"><a href="#">g.baltar@cmail.com</a></li>
        </ul>

<div class='html'><div class="CodeRay">
  <div class="code"><pre>
<span class="tag">&lt;ul</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">vcard</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>
  <span class="tag">&lt;li</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">fn</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Gaius Baltar<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">street-address</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>123 Colonial Ave.<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">locality</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Caprica City<span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li&gt;</span><span class="tag">&lt;span</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">state</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>Caprica<span class="tag">&lt;/span&gt;</span>, <span class="tag">&lt;span</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">zip</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>12345<span class="tag">&lt;/span&gt;</span><span class="tag">&lt;/li&gt;</span>
  <span class="tag">&lt;li</span> <span class="attribute-name">class</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">email</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span><span class="tag">&lt;a</span> <span class="attribute-name">href</span>=<span class="string"><span class="delimiter">&quot;</span><span class="content">#</span><span class="delimiter">&quot;</span></span><span class="tag">&gt;</span>g.baltar@cmail.com<span class="tag">&lt;/a&gt;</span><span class="tag">&lt;/li&gt;</span>
<span class="tag">&lt;/ul&gt;</span>
</pre></div>
</div>
</div>

        <hr>

        <h3>Print Styles</h3>
        <p>Foundation includes print styles developed by HTML5 Boilerplate to give you some basic print-specific styles. These are activated when you print through a media query. It includes:</p>

        <ul class="disc">
          <li>Clearing out backgrounds, box shadows, and text shadows</li>
          <li>Appending link URLs after the anchor text</li>
          <li>Bordering blockquotes and pre elements</li>
          <li>Page cleanup and window minimization</li>
        </ul>

        <p>On top of that, Foundation includes a couple of simple classes you can use to control elements printing, or not printing. Simply attach <code>.print-only</code> to an element to only show when printing, and <code>.hide-on-print</code> to hide something when printing.</p>

        <hr>

        <h3>Available SCSS Variables</h3>
        <p>We've got a ton of variables for you to use to customize your typography.</p>

<div class='css'><div class="CodeRay">
  <div class="code"><pre>
<span class="comment">/* We use these to control header font styles */</span>
<span class="error">$</span><span class="type">header-font-family</span>: <span class="string"><span class="delimiter">&quot;</span><span class="content">Helvetica Neue</span><span class="delimiter">&quot;</span></span>, <span class="string"><span class="delimiter">&quot;</span><span class="content">Helvetica</span><span class="delimiter">&quot;</span></span>, <span class="type">Helvetica</span>, <span class="type">Arial</span>, <span class="type">sans-serif</span>;
<span class="error">$</span><span class="type">header-font-weight</span>: <span class="type">bold</span>;
<span class="error">$</span><span class="type">header-font-style</span>: <span class="type">normal</span>;
<span class="error">$</span><span class="type">header-font-color</span>: <span class="constant">#222</span>;
<span class="error">$</span><span class="type">header-line-height</span>: <span class="float">1</span><span class="class">.4</span>;
<span class="error">$</span><span class="type">header-top-margin</span>: <span class="class">.2em</span>;
<span class="error">$</span><span class="type">header-bottom-margin</span>: <span class="class">.5em</span>;
<span class="error">$</span><span class="type">header-text-rendering</span>: <span class="type">optimizeLegibility</span>;

<span class="comment">/* We use these to control header font sizes */</span>
<span class="error">$</span><span class="type">h1-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">44px</span>);
<span class="error">$</span><span class="type">h2-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">37px</span>);
<span class="error">$</span><span class="type">h3-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">27px</span>);
<span class="error">$</span><span class="type">h4-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">23px</span>);
<span class="error">$</span><span class="type">h5-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">18px</span>);
<span class="error">$</span><span class="type">h6-font-size</span>: <span class="float">1em</span>;

<span class="comment">/* These control how subheaders are styled. */</span>
<span class="error">$</span><span class="type">subheader-line-height</span>: <span class="float">1</span><span class="class">.4</span>;
<span class="error">$</span><span class="type">subheader-font-color</span>: <span class="error">l</span><span class="error">i</span><span class="error">g</span><span class="error">h</span><span class="error">t</span><span class="error">e</span><span class="error">n</span>(<span class="error">$</span><span class="type">header-font-color</span>, <span class="float">30%</span>);
<span class="error">$</span><span class="type">subheader-font-weight</span>: <span class="float">300</span>;
<span class="error">$</span><span class="type">subheader-top-margin</span>: <span class="class">.2em</span>;
<span class="error">$</span><span class="type">subheader-bottom-margin</span>: <span class="class">.5em</span>;

<span class="comment">/* A general &lt;small&gt; styling */</span>
<span class="error">$</span><span class="type">small-font-size</span>: <span class="float">60%</span>;
<span class="error">$</span><span class="type">small-font-color</span>: <span class="error">l</span><span class="error">i</span><span class="error">g</span><span class="error">h</span><span class="error">t</span><span class="error">e</span><span class="error">n</span>(<span class="error">$</span><span class="type">header-font-color</span>, <span class="float">30%</span>);

<span class="comment">/* We use these to style paragraphs */</span>
<span class="error">$</span><span class="type">paragraph-font-family</span>: <span class="type">inherit</span>;
<span class="error">$</span><span class="type">paragraph-font-weight</span>: <span class="type">normal</span>;
<span class="error">$</span><span class="type">paragraph-font-size</span>: <span class="float">1em</span>;
<span class="error">$</span><span class="type">paragraph-line-height</span>: <span class="float">1</span><span class="class">.6</span>;
<span class="error">$</span><span class="type">paragraph-margin-bottom</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>);
<span class="error">$</span><span class="type">paragraph-aside-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">14px</span>);
<span class="error">$</span><span class="type">paragraph-aside-line-height</span>: <span class="float">1</span><span class="class">.35</span>;
<span class="error">$</span><span class="type">paragraph-aside-font-style</span>: <span class="type">italic</span>;
<span class="error">$</span><span class="type">paragraph-text-rendering</span>: <span class="type">optimizeLegibility</span>;

<span class="comment">/* We use these to style &lt;code&gt; tags */</span>
<span class="error">$</span><span class="type">code-color</span>: <span class="error">d</span><span class="error">a</span><span class="error">r</span><span class="error">k</span><span class="error">e</span><span class="error">n</span>(<span class="error">$</span><span class="type">alert-color</span>, <span class="float">15%</span>);
<span class="error">$</span><span class="type">code-font-family</span>: <span class="type">Consolas</span>, <span class="string"><span class="delimiter">&quot;</span><span class="content">Liberation Mono</span><span class="delimiter">&quot;</span></span>, <span class="type">Courier</span>, <span class="type">monospace</span>;
<span class="error">$</span><span class="type">code-font-weight</span>: <span class="type">bold</span>;

<span class="comment">/* We use these to style anchors */</span>
<span class="error">$</span><span class="type">anchor-text-decoration</span>: <span class="type">none</span>;
<span class="error">$</span><span class="type">anchor-font-color</span>: <span class="error">$</span><span class="type">primary-color</span>;
<span class="error">$</span><span class="type">anchor-font-color-hover</span>: <span class="error">d</span><span class="error">a</span><span class="error">r</span><span class="error">k</span><span class="error">e</span><span class="error">n</span>(<span class="error">$</span><span class="type">primary-color</span>, <span class="float">5%</span>);

<span class="comment">/* We use these to style the &lt;hr&gt; element */</span>
<span class="error">$</span><span class="type">hr-border-width</span>: <span class="float">1px</span>;
<span class="error">$</span><span class="type">hr-border-style</span>: <span class="type">solid</span>;
<span class="error">$</span><span class="type">hr-border-color</span>: <span class="constant">#ddd</span>;
<span class="error">$</span><span class="type">hr-margin</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>);

<span class="comment">/* We use these to style lists */</span>
<span class="error">$</span><span class="type">list-style-position</span>: <span class="type">outside</span>;
<span class="error">$</span><span class="type">list-side-margin</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>);
<span class="error">$</span><span class="type">list-nested-margin</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>);
<span class="error">$</span><span class="type">definition-list-header-weight</span>: <span class="type">bold</span>;
<span class="error">$</span><span class="type">definition-list-header-margin-bottom</span>: <span class="class">.3em</span>;
<span class="error">$</span><span class="type">definition-list-margin-bottom</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">12px</span>);

<span class="comment">/* We use these to style blockquotes */</span>
<span class="error">$</span><span class="type">blockquote-font-color</span>: <span class="error">l</span><span class="error">i</span><span class="error">g</span><span class="error">h</span><span class="error">t</span><span class="error">e</span><span class="error">n</span>(<span class="error">$</span><span class="type">header-font-color</span>, <span class="float">30%</span>);
<span class="error">$</span><span class="type">blockquote-padding</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">9px</span>) <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>) <span class="float">0</span> <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">19px</span>);
<span class="error">$</span><span class="type">blockquote-border</span>: <span class="float">1px</span> <span class="type">solid</span> <span class="constant">#ddd</span>;
<span class="error">$</span><span class="type">blockquote-cite-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">13px</span>);
<span class="error">$</span><span class="type">blockquote-cite-font-color</span>: <span class="error">l</span><span class="error">i</span><span class="error">g</span><span class="error">h</span><span class="error">t</span><span class="error">e</span><span class="error">n</span>(<span class="error">$</span><span class="type">header-font-color</span>, <span class="float">20%</span>);
<span class="error">$</span><span class="type">blockquote-cite-link-color</span>: <span class="error">$</span><span class="type">blockquote-cite-font-color</span>;

<span class="comment">/* Acronym styles */</span>
<span class="error">$</span><span class="type">acronym-underline</span>: <span class="float">1px</span> <span class="type">dotted</span> <span class="constant">#ddd</span>;

<span class="comment">/* We use these to control padding and margin */</span>
<span class="error">$</span><span class="type">microformat-padding</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">10px</span>) <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">12px</span>);
<span class="error">$</span><span class="type">microformat-margin</span>: <span class="float">0</span> <span class="float">0</span> <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">20px</span>) <span class="float">0</span>;

<span class="comment">/* We use these to control the border styles */</span>
<span class="error">$</span><span class="type">microformat-border-width</span>: <span class="float">1px</span>;
<span class="error">$</span><span class="type">microformat-border-style</span>: <span class="type">solid</span>;
<span class="error">$</span><span class="type">microformat-border-color</span>: <span class="constant">#ddd</span>;

<span class="comment">/* We use these to control full name font styles */</span>
<span class="error">$</span><span class="type">microformat-fullname-font-weight</span>: <span class="type">bold</span>;
<span class="error">$</span><span class="type">microformat-fullname-font-size</span>: <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">15px</span>);

<span class="comment">/* We use this to control the summary font styles */</span>
<span class="error">$</span><span class="type">microformat-summary-font-weight</span>: <span class="type">bold</span>;

<span class="comment">/* We use this to control abbr padding */</span>
<span class="error">$</span><span class="type">microformat-abbr-padding</span>: <span class="float">0</span> <span class="error">e</span><span class="error">m</span><span class="error">C</span><span class="error">a</span><span class="error">l</span><span class="error">c</span>(<span class="float">1px</span>);

<span class="comment">/* We use this to control abbr font styles */</span>
<span class="error">$</span><span class="type">microformat-abbr-font-weight</span>: <span class="type">bold</span>;
<span class="error">$</span><span class="type">microformat-abbr-font-decoration</span>: <span class="type">none</span>;
</pre></div>
</div>
</div>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <div class="docs section-container accordion" data-section data-options="one_up: false">
  <section class="section ">
    <p class="title"><a href="#">Using Foundation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="../">Get Started</a></li>
        <li><a href="../javascript.html">Javascript</a></li>
        <li><a href="../sass.html">Sass</a></li>
        <li><a href="../rails.html">Rails</a></li>
        <li><a href="../media-queries.html">Media Queries</a></li>
        <li><a class="" href="visibility.html">Visibility Classes</a></li>
        <li><a href="../rtl.html">Right-to-Left Support</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Grid</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="grid.html">Grid</a></li>
        <li><a class="" href="block-grid.html">Block Grid</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Navigation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="pagination.html">Pagination</a></li>
        <li><a class="" href="side-nav.html">Side Nav</a></li>
        <li><a class="" href="sub-nav.html">Sub Nav</a></li>
        <li><a class="" href="top-bar.html">Top Bar</a></li>
        <li><a class="" href="breadcrumbs.html">Breadcrumbs</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Buttons</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="buttons.html">Buttons</a></li>
        <li><a class="" href="button-groups.html">Button Groups</a></li>
        <li><a class="" href="dropdown-buttons.html">Dropdown Buttons</a></li>
        <li><a class="" href="split-buttons.html">Split Buttons</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Forms</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="forms.html">Forms</a></li>
        <li><a class="" href="custom-forms.html">Custom Forms</a></li>
        <li><a class="" href="switch.html">Switch</a></li>
      </ul>
    </div>
  </section>
  <section class="section active">
    <p class="title"><a href="#">Typography</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="active" href="type.html">Type</a></li>
        <li><a class="" href="inline-lists.html">Inline Lists</a></li>
        <li><a class="" href="labels.html">Labels</a></li>
        <li><a class="" href="keystrokes.html">Keystrokes</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">CSS Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="global.html">Global Styles</a></li>
        <li><a class="" href="alert-boxes.html">Alert Boxes</a></li>
        <li><a class="" href="panels.html">Panels</a></li>
        <li><a class="" href="pricing-tables.html">Pricing Tables</a></li>
        <li><a class="" href="progress-bars.html">Progress Bars</a></li>
        <li><a class="" href="tables.html">Tables</a></li>
        <li><a class="" href="thumbnails.html">Thumbnails</a></li>
        <li><a class="" href="flex-video.html">Flex Video</a></li>
        <li class="divider"></li>
        <li><a target="_blank" style="font-style: italic" class="" href="kitchen-sink.html">Kitchen Sink</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Javascript</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="clearing.html">Clearing</a></li>
        <li><a class="" href="dropdown.html">Dropdown</a></li>
        <li><a class="" href="interchange.html">Interchange</a></li>
        <li><a class="" href="joyride.html">Joyride</a></li>
        <li><a class="" href="magellan.html">Magellan</a></li>
        <li><a class="" href="orbit.html">Orbit</a></li>
        <li><a class="" href="reveal.html">Reveal</a></li>
        <li><a class="" href="section.html">Section</a></li>
        <li><a class="" href="tooltips.html">Tooltips</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="../faq.html">FAQ</a></p>
  </section>
  <section class="section ">
    <p class="title"><a href="../support.html">Support</a></p>
  </section>
</div>

<p><a href="http://foundation.zurb.com/download.php" class="button expand" style="margin-bottom: 0;">Download Foundation 4</a></p>

<div class="jobs hide-for-small">
  <h5>Awesome product jobs:</h5>
  <div id="zurbJobsWidget"></div>
  <a id="via" href="http://zurbjobs.com">via&nbsp;<span class="jobs-link">ZURBjobs</span></a>
</div>

  </div>
</div>


    <footer class="row full-width">
      <div class="large-5 columns">
        <h6><strong>Made by ZURB</strong></h6>
        <p>Foundation is made by <a href="http://www.zurb.com/">ZURB</a>, a product design company in Campbell, California. We've put more than 14 years of experience building web products, services and websites into this framework. <a href="http://foundation.zurb.com/about.php">Foundation Info and Goodies &rarr;</a></p>
      </div>

      <div class="large-3 columns">
        <h6><strong>Using Foundation?</strong></h6>
        <p>Let us know how you're using Foundation and we might feature you as an example! <a href="mailto:foundation@zurb.com?subject=I'm%20using%20Foundation">Get in touch &rarr;</a></p>
      </div>

      <div class="large-4 columns">
        <h6><strong>Need some help?</strong></h6>
        <p>For answers or help visit the <a href="http://foundation.zurb.com/docs/support.html">Support page</a>.</p>
      </div>
    </footer>

    <div id="copyright">
      <div class="row full-width">
        <div class="large-4 columns">
          <p>Site content &copy; 2013 ZURB, inc.</p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li><a href="http://foundation.zurb.com">Home</a></li>
            <li><a href="http://foundation.zurb.com/download.php">Download</a></li>
            <li><a href="http://foundation.zurb.com/docs">Docs</a></li>
            <li><a href="http://foundation.zurb.com/docs/changelog.html">Changelog</a></li>
            <li><a href="http://foundation.zurb.com/about.php">About</a></li>
            <li><a href="http://feeds.feedburner.com/zurb/blog">Subscribe to the ZURBlog</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script>

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(
        ['_setAccount', 'UA-2195009-2'],
        ['_trackPageview'],
        ['b._setAccount', 'UA-2195009-27'],
        ['b._trackPageview']
      );

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      document.write('<script src="/assets/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
    </script>
    <script src="/assets/docs.js"></script>
    <script>
      $(document)
      
        .foundation();
      

      $.ajax({
        url: '//zurb.com/jobs/widgets/jobs.json?limit=3',
        dataType: 'jsonp',
        success: function(data) {
          var list = $("<ul></ul>");
          $.each(data.jobs, function(idx, job) {
            var item = "<li><a href='"+job.url+"' target='_blank'>" +
              "<span class='positionTitle'>"+job.title+"</span>" +
              "<span class='location'><span class='companyName'>"+job.company_name+"</span> in "+job.location+"</span>" +
              "</a>" +
              "</li>";
            list.append(item);
          });
            // Customize This
          $("#zurbJobsWidget").html(list);
        }
      });

      // For Kitchen Sink Page
      $('#start-jr').on('click', function() {
        $(document).foundation('joyride','start');
      });
    </script>
  </body>
</html>
